# **ADDITIONAL NOTES: 
# add use_sim_time: true, soon... 

# config bt_nav to have default BT 
bt_navigator:
  ros__parameters:
    default_bt_xml_filename: "navigate_to_pose_w_replanning_and_recovery.xml"

# controller server with RPP 
controller_server:
  ros__parameters:
    controller_frequency: 20.0
    controller_plugins: ["FollowPath"]

    # choosing RPP 
    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      max_linear_vel: 0.3 # conservative for regolith 
      desired_linear_vel: 0.3 # incase, max_linear_vel is not read
      max_angular_vel: 0.5 # prevents aggressive turning  

# planner server 
planner_server:
  ros__parameters:
    expected_planner_frequency: 1.0
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_navfn_planner/NavfnPlanner"
      tolerance: 0.5
      use_astar: false
      allow_unknown: true

# // COSTMAPS // 
# global costmap 
global_costmap:
  global_costmap:
    ros__parameters:
      update_frequency: 1.0
      publish_frequency: 1.0
      global_frame: map
      robot_base_frame: base_link
      robot_radius: 0.25 # tuned to robot radius of 0.25m 
      resolution: 0.05 # spec resolution 
      track_unknown_space: false
      rolling_window: false
      plugins: ["static_layer", "inflation_layer"]
      
      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true

      # (FOR LIDAR)
      #obstacle_layer:
      #  plugin: "nav2_costmap_2d::ObstacleLayer"
      #  enabled: true
      #  observation_sources: scan
      #  scan:
      #    topic: /scan
      #    max_obstacle_height: 2.0
      #    clearing: true
      #    marking: true
      #    data_type: "LaserScan"
      #    raytrace_max_range: 3.0
      #    raytrace_min_range: 0.0
      #    obstacle_max_range: 2.5
      #    obstacle_min_range: 0.0

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.55
      
      always_send_full_costmap: true

# local costmap 
local_costmap:
  local_costmap:
    ros__parameters:
      plugins: ["inflation_layer"]

      # rolling window 
      rolling_window: true
      width: 3.0 # robot vision has radius of 1.5m 
      height: 3.0 # 3mx3m as specified in docx 
      resolution: 0.05
      
      # (FOR LiDAR)
      #obstacle_layer:
      #  plugin: "nav2_costmap_2d::ObstacleLayer"
      #  observation_sources: scan
      #  scan:
      #    topic: /scan
      #    data_type: LaserScan
      #    marking: true
      #    clearing: true
      #    max_obstacle_height: 2.0
      #    min_obstacle_height: 0.0
      
      # config for inflation 
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.35
        cost_scaling_factor: 2.0
