# **ADDITIONAL NOTES:
# add use_sim_time: true, soon...

# config bt_nav to have default BT
bt_navigator:
  ros__parameters:
    use_sim_time: true
    default_bt_xml_filename: "navigate_to_pose_w_replanning_and_recovery.xml"

# controller server with RPP
controller_server:
  ros__parameters:
    use_sim_time: true
    controller_frequency: 20.0
    controller_plugins: ["FollowPath"]

    # choosing RPP
    FollowPath:
      plugin: "nav2_regulated_pure_pursuit_controller::RegulatedPurePursuitController"
      max_linear_vel: 0.3 # conservative for regolith
      desired_linear_vel: 0.3 # incase, max_linear_vel is not read
      max_angular_vel: 0.5 # prevents aggressive turning

# planner server
planner_server:
  ros__parameters:
    expected_planner_frequency: 1.0
    use_sim_time: true
    planner_plugins: ["GridBased"]

    GridBased:
      plugin: "nav2_smac_planner/SmacPlannerHybrid"
      tolerance: 0.5
      allow_unknown: true
      motion_model_for_search: "REEDS_SHEPP"
      minimum_turning_radius: 0.40
      reverse_penalty: 2.1
      change_penalty: 0.0
      non_straight_penalty: 2.0
      cost_penalty: 3.0
      max_iterations: 1000000
      max_planning_time: 5.0

# // COSTMAPS //
# global costmap
global_costmap:
  global_costmap:
    ros__parameters:
      use_sim_time: true
      update_frequency: 1.0
      publish_frequency: 1.0
      global_frame: map # changed to map as rtab map added
      robot_base_frame: base_footprint
      robot_radius: 0.25 # tuned to robot radius of 0.25m
      resolution: 0.05 # spec resolution
      track_unknown_space: false
      rolling_window: true
      width: 12
      height: 12
      origin_x: -5.0
      origin_y: -8.0
      plugins: ["obstacle_layer", "inflation_layer"]
      # plugins: ["static_layer", "inflation_layer"]

      static_layer:
        plugin: "nav2_costmap_2d::StaticLayer"
        map_subscribe_transient_local: true

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: hazards_front front_points_clear
        hazards_front:
          # Produced by lunabot_perception/hazard_detection
          topic: /hazards/front
          data_type: "PointCloud2"
          marking: true
          clearing: false
          observation_persistence: 0.7
          expected_update_rate: 5.0
          max_obstacle_height: 0.50
          min_obstacle_height: 0.10
          obstacle_max_range: 3.0
          obstacle_min_range: 0.1
          raytrace_max_range: 2.5
          raytrace_min_range: 0.5

        # Use full depth cloud for clearing raytraces.
        front_points_clear:
          topic: /camera_front/points
          data_type: "PointCloud2"
          marking: false
          clearing: true
          expected_update_rate: 5.0
          max_obstacle_height: 0.50
          min_obstacle_height: 0.10
          obstacle_max_range: 3.0
          obstacle_min_range: 0.1
          raytrace_max_range: 2.5
          raytrace_min_range: 0.5

      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        cost_scaling_factor: 3.0
        inflation_radius: 0.50

      always_send_full_costmap: true

# local costmap
local_costmap:
  local_costmap:
    ros__parameters:
      use_sim_time: true
      global_frame: odom
      robot_base_frame: base_footprint
      plugins: ["obstacle_layer", "inflation_layer"]

      # rolling window
      rolling_window: true
      width: 3 # robot vision has radius of 1.5m
      height: 3 # 3mx3m as specified in docx
      resolution: 0.05

      obstacle_layer:
        plugin: "nav2_costmap_2d::ObstacleLayer"
        observation_sources: hazards_front front_points_clear
        hazards_front:
          # Produced by lunabot_perception/hazard_detection
          topic: /hazards/front
          data_type: "PointCloud2"
          marking: true
          clearing: false
          observation_persistence: 0.7
          expected_update_rate: 5.0
          max_obstacle_height: 0.50
          min_obstacle_height: 0.10
          obstacle_max_range: 3.0
          obstacle_min_range: 0.1
          raytrace_max_range: 2.5
          raytrace_min_range: 0.5

        # Use full depth cloud for clearing raytraces.
        front_points_clear:
          topic: /camera_front/points
          data_type: "PointCloud2"
          marking: false
          clearing: true
          expected_update_rate: 5.0
          max_obstacle_height: 0.50
          min_obstacle_height: 0.10
          obstacle_max_range: 3.0
          obstacle_min_range: 0.1
          raytrace_max_range: 2.5
          raytrace_min_range: 0.5

      # config for inflation
      inflation_layer:
        plugin: "nav2_costmap_2d::InflationLayer"
        inflation_radius: 0.50
        cost_scaling_factor: 3.0
