<?xml version="1.0"?>
<model>
  <name>crater_terrain</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>UOL Lunabotics</name>
    <email>ko129@student.le.ac.uk</email>
  </author>
  <description>Crater terrain overlay from UK Lunabotics rulebook arena. Bowl-shaped depressions for crater detection testing.</description>
</model>
