<?xml version="1.0"?>
<model>
  <name>rock_rough</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>UK Lunabotics Team</name>
    <email>lunabotics@leicester.ac.uk</email>
  </author>
  <description>Rough textured rock with irregular surface. Original mesh from WPI-Lunabotics-MQP.</description>
</model>
