<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="lunabot">
<xacro:include filename="$(find leo_description)/urdf/leo_sim.urdf.xacro" />

  <!-- <link name="lidar_link">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.03"/>
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.05" radius="0.03"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.1 0.0 0.03" rpy="0 0 0"/>
  </joint>

    <gazebo reference="lidar_link">
    <sensor name="lidar" type="gpu_lidar">
        <always_on>1</always_on>
        <update_rate>5</update_rate>
        <topic>scan</topic>
        <gz_frame_id>lidar_link</gz_frame_id>
        <lidar>
        <scan>
            <horizontal>
            <samples>180</samples>
            <resolution>1</resolution>
            <min_angle>-3.14159</min_angle>
            <max_angle>3.14159</max_angle>
            </horizontal>
        </scan>
        <range>
            <min>0.1</min>
            <max>10.0</max>
            <resolution>0.01</resolution>
        </range>
        </lidar>
        <visualize>false</visualize>
    </sensor>
    </gazebo> -->
    <gazebo>
      <plugin
            filename="ignition-gazebo-pose-publisher-system"
            name="ignition::gazebo::systems::PosePublisher"
        >
        <publish_link_poses>true</publish_link_poses>
        <publish_sensor_poses>true</publish_sensor_poses>
        <publish_nested_model_poses>true</publish_nested_model_poses>
        <use_pose_vector_msg>true</use_pose_vector_msg>
        <static_publisher>true</static_publisher>
        <static_update_frequency>1</static_update_frequency>
      </plugin>
    </gazebo>

    <link name="camera_front_link">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.03" />
      </geometry>
      <material name="dark_grey">
        <color rgba="0.2 0.2 0.2 1.0" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.05" radius="0.03" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1" />
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
    </inertial>
  </link>

    <joint name="camera_front_joint" type="fixed">
      <parent link="base_link" />
      <child link="camera_front_link" />
      <origin xyz="0.12 0.0 0.05" rpy="0 0.3 0" />
    </joint>

    <link name="camera_front_optical_frame" />

    <joint name="camera_front_optical_joint" type="fixed">
      <parent link="camera_front_link" />
      <child link="camera_front_optical_frame" />
      <origin xyz="0 0 0" rpy="-${pi/2} 0.0 -${pi/2}" />
    </joint>



    <gazebo reference="camera_front_link">
      <sensor name="camera_front" type="rgbd_camera">
      <camera>
        <horizontal_fov>1.57</horizontal_fov>
        <image>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.1</near>
          <far>10</far>
        </clip>
      </camera>
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <topic>camera_front</topic>
        <gz_frame_id>camera_front_link</gz_frame_id>
      </sensor>
    </gazebo>
</robot>
