<?xml version="1.0"?>
<model>
  <name>lunar_surface</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>UOL Lunabotics</name>
    <email>ko129@student.le.ac.uk</email>
  </author>
  <description>Lunar surface terrain with craters and uneven topology. Original mesh from WPI-Lunabotics-MQP.</description>
</model>
